* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
}

.container {
    border: 5px solid;
    border-color: black;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}

.content {
    padding-left: 30px;
}

.camera {
    height: 300px;
}

.container-preco {
    margin-bottom: 20px;
}

.frete {
    text-transform: uppercase;
    color: #575757;
    font-size: 15px;
}


strong {
    font-size: 20px;
}

h2 {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    margin-left: 50px;
    margin-bottom: 20px;
}


.carrinho {
    font-size: 22px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    border-top: 4px solid;
    padding: 10px;
}

.carrinho:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

a:link, a:visited {
    color: black;
}

a:link:hover, a:active {
    text-decoration: none;
}